<template>
	<div>  
		<h1>{{ list }}</h1>
	</div>
</template>

<script>

	export default
	{
		data: function()
		{
			return {
                list: ''
                
            };
		},

		created: function()
		{
			this.getUserInfo();
			this.loadHighCharts();
		},

		methods:
		{
			getUserInfo: function()
			{
				console.log('asd')
				axios.get('api/data').then((res) => {
                    this.list = res.data;
                });
			},

		}
	}
</script>